.container{
	width: 100vw;
	
	min-height: 100vh;
	height: auto;
	
	background-color: #F6F6F6;
	display: flex;
	 
    align-items: center;
    justify-content: space-around;
	
	overflow-y: hidden;
	
	
}

.container h1{
	text-align: center;
	
}

.courses{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    text-align: center;
    

}

.courses img{
    height: 270px;
    margin-bottom: 20px;
    
}

.courses h3{
    color: #FF4081;
    font-size: 26px;
    margin-bottom: 20px;
}

.courses p{
    width: 294px;
    font-size: 17px;
    margin-bottom: 1.25rem;
    
}

.courses button{
    color:#fff;
    font-size: 1.25rem;

    background-color: #FF4081 ;
    padding: 0.625rem 2.5rem;
    border-radius: 3.875rem;
    border: 0;

    cursor: pointer;
    
}

@media (max-width: 960px) {
	
	.container{
	
	
	justify-content: left;
		
	position: relative;
	overflow: auto;
	scroll-snap-type: x mandatory;


}
	
    .courses{
		width: 100vw;
        height: 100vh;
        margin: 0;
		
		position: sticky;
		scroll-behavior: smooth;
		flex-shrink: 0;
		transition: 400ms;

    }
}

@media (max-height: 480px) {
	
.container{
	
	flex-direction: column;
	overflow-x: hidden;	
	
}

.container h1{
	text-align: center;
	margin-bottom: 20;
	
}
 .courses{	
    margin: 10% ;
		
    }
 .courses img{
    height: 50vh;
   
}

}