.container{
	width: 100vw;
	background-color: #F6F6F6;
	display: flex;
	 
    align-items: center;
    justify-content: space-around;
	
	
}


.courses{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    text-align: center;
    

}

.courses img{
    height: 270px;
    margin-bottom: 20px;
    
}

.courses h3{
    color: #FF4081;
    font-size: 26px;
    margin-bottom: 20px;
}

.courses p{
    width: 294px;
    font-size: 17px;
    margin-bottom: 1.25rem;
    
}

.courses button{
    color:#fff;
    font-size: 1.25rem;

    background-color: #FF4081 ;
    padding: 0.625rem 2.5rem;
    border-radius: 3.875rem;
    border: 0;

    cursor: pointer;
    
}

@media (max-width: 480px) {
	
	.container{
	
	
	justify-content: left;
		
	position: relative;
	overflow: auto;
	scroll-snap-type: x mandatory;


	}
	
    .courses{
		
		width: 100vw;
        height: 80vh;
        margin: 0;
			
		position: sticky;
		scroll-behavior: smooth;
		flex-shrink: 0;
		transition: 400ms;
		
	}
    

}


@media (max-width: 960px) {
	
	.container{
	
	
	justify-content: left;
		
	position: relative;
	overflow: auto;
	scroll-snap-type: x mandatory;


}
	
    .courses{
		width: 100vw;
        height: 100vh;
        margin: 0;
		
		position: sticky;
		scroll-behavior: smooth;
		flex-shrink: 0;
		transition: 400ms;

    }
}