*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html, body {
    width: 100%;
	

    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
	
	
}

a{
   
    text-decoration: none;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 12px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #FF4081;
	
}