*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html, body {
    width: 100%;
	

    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
}

a{
   
    text-decoration: none;
}

:root {
    /* Colors */
    --primary-color: #009688;
    --secondary-color: #FF4081;
    --bg-color: #F6F6F6;

    /* Font-Sizes */
    --title: 3.75rem;
    --subtitle: ;
    --bt-border-radius: 3.875rem;
}